@use '../../styles/mixins-media' as *;
@use '../../styles/variables' as *;

.popup {
  position: absolute;
  top: 50%;
  left: calc(50% - 325px);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 760px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 20px;

  @include sm {
    flex-direction: column; /* на мобильных устройствах элементы идут вертикально */
    padding: 20px;
    max-width: 400px;
    left: 50%; // Центрируем по горизонтали на мобильных устройствах
    transform: translateX(-50%) translateY(-5%); // Цен
  }
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.this__day_info_items {
  @include sm {
    margin-top: 20px; /* Отступ между this__day и this__day_info на мобильных */
  }
}
.day {
  .day__temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin-bottom: 12px;
  }
  .day__name {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 12px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
      margin-bottom: 12px;
    }
  }

  .day__time,
  .day__city {
    font-size: 15px;
    color: $base-color;
  }
}
