@use '../../../styles/variables' as *;
@use '../../../styles/mixins-media' as *;

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 50px;
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 10px 10px;

  @include sm {
    margin-bottom: 0 10px;
    padding: 10px 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(#{--card-background-default});
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  transition: 0.3s;
  cursor: pointer;

  @include sm {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .day,
  .day__info,
  .temp__night,
  .info {
    color: $base-color;
  }

  .day__name {
    margin-bottom: 7px;
    font-size: 18px;
    color: var(#{--text-color-default});
  }

  .day__info {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img {
    margin-bottom: 12px;
  }

  .temp__day {
    font-size: 18px;
    color: var(#{--text-color-default});
  }

  .temp__night {
    font-size: 13px;
    margin-bottom: 6px;
  }

  .info {
    font-size: 13px;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.cancel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(#{--components-background-default});
  margin-right: 15px;
  color: var(#{--text-color-default});
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.cancel {
  margin-right: 0;
}

.tab {
  &.active {
    background: $primary-color;
    color: #fff;
  }
}
.tabs__wrapper {
  display: flex;
}
